* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(233, 234, 235);
}

/*---------------------navebar style--------------------- */
.navebar {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  position: sticky;
  top: 0px;
}

.navebar h3 button {
  background-color: black;
  border: none;
  color: white;
  font-size: 40px;
}

.navebar h3 button:hover {
  color: gold;
}

/*---------------------navebarlast style--------------------- */
.navebarlast {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0 20px;
  position: fixed;
  bottom: 0;
}

.navebarlast a {
  color: white;
  text-decoration: none;
}

.active {
  color: goldenrod !important;
}

i {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.row .col {
  position: static !important;
  overflow: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}